<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Training">
<listeners>
<listener class-name="com\test\Listener"/>
</listeners>
	<test name="Case Study 1">
		<classes>
			<class name="com.test.FirstTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
